{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>

    <section class="vh-100" style="background-color: #9A616D; ">


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;text-align:center;font-size:60px;">Login to your account</h5>
        <div class="form-outline mb-4" style="text-align:center;font-size:40px;">
            <label>username</label><input type="text" name="username"><br>
            <label>password</label><input type="password" name="password"><br>
            <button type="submit">Login</button>
        </div>
        <div style="text-align:center;font-size:40px;">
            <label><a href="{% url 'bankapp:registers' %}">Register here</label>
        </div>

    </form>
<center>{% for msg in messages %}
{{msg}}
</center>
</section>
</div>
   <li>
       {% endfor %}
 {% endblock %}
