

{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>

    <div class="vh-100" style="background-color: aqua;">


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;text-align:center;font-size:60px;">Register your account</h5>
        <div class="form-outline mb-4" style="text-align:center;font-size:40px;">
            <label>username</label><input type="text" name="username"><br>
            <label>password</label><input type="password" name="password"><br>
            <label>confirm password</label><input type="password" name="cpassword"><br>
            <button type="submit">Register</button>
        </div>


    </form>
<center>{% for msg in messages %}
{{msg}}
</center>
</div>
</div>

{% endfor %}
{% endblock  %}